<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>About</title>
  </head>
  <body>
  <header>
    <h1><a href = "home">About</a></h1>
  </header>
  <section>
    <p>Ziel ist es ein Quiz mit Klausurrelevanten Themen zu erstellen</p>
    <a href="https://www.google.de">google.de</a>

  </section>
    
  </body>
</html>